@charset "utf-8";
/* CSS Document */

.switch {
  position: relative;
  display: inline-block;
  width: 40spx;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1BE137;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



*
{
 margin:0;
 padding:0;
}

body {
  min-width: 900px;
  background-size: 100%;
  background-position: 0px 50px;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-color: #222;
  background-size: cover;

}

#menu {
  position: fixed;
  right: 0;
  top: 0;
  width:100%;
  font-size:18px;
}


#header
{
 width:100%;
 height:80px;
 background:rgba(00,11,22,33);
 color:#9fa8b0;
 font-family:Verdana, Geneva, sans-serif;
 position:fixed;
}


#results form {
  min-width: 1080px;
  margin: 80px auto;
  padding: 5px 5px 5px 5px;
  background: #f4f7f8;
  border-radius: 5px;
}
#results table, th, td
{
 border:solid #dcdcdc 1px;
 border-collapse: collapse;
 padding:5px;
 box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
 font-family:Verdana, Geneva, sans-serif;
 font-size:11px;
 text-align: center;
}
#results td
{
 width:160px;
 padding:5px;
 white-space: nowrap;
 text-align: center;
 border:solid #e1e1e1 1px;
 border-radius:3px;
 padding-left:10px;
 font-family:Verdana, Geneva, sans-serif;
 font-size:11px;
}
#results button {
 width:20%;
 height:35px;
 border:0px;
 background:rgba(12,45,78,11);
 background:-moz-linear-gradient(top, #595959 , #515151);
 border-radius:8px;
 box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
 color:#f9f9f9;
 font-family:Verdana, Geneva, sans-serif;
 font-size:18px;
 font-weight:bolder;
 text-transform:uppercase;
}

#rider form {
  max-width: 500px;
  margin: 80px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
#rider input[type="text"],
#rider textarea,
#rider select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 300px;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
#rider label {
  display: inline-block;
  margin-bottom: 8px;
  width: 140px;
}

#rider button {
 width:100%;
 height:35px;
 border:0px;
 background:rgba(12,45,78,11);
 background:-moz-linear-gradient(top, #595959 , #515151);
 border-radius:8px;
 box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
 color:#f9f9f9;
 font-family:Verdana, Geneva, sans-serif;
 font-size:18px;
 font-weight:bolder;
 text-transform:uppercase;
}
#rider select {
  height: 30px;
  width: 300px;
  font-size: 16px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:16px;
  color: black;
  font-weight: normal;
}



#times form {
  max-width: 800px;
  margin: 80px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
#times input[type="text"],
#times textarea,
#times select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 300px;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
#times label {
  display: inline-block;
  margin-bottom: 8px;
  width: 140px;
}

#times button {
 width:100%;
 height:35px;
 border:0px;
 background:rgba(12,45,78,11);
 background:-moz-linear-gradient(top, #595959 , #515151);
 border-radius:8px;
 box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
 color:#f9f9f9;
 font-family:Verdana, Geneva, sans-serif;
 font-size:18px;
 font-weight:bolder;
 text-transform:uppercase;
}
#times select {
  height: 30px;
  width: 300px;
  font-size: 16px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:16px;
  color: black;
  font-weight: normal;
}



